.new-expense {
  background-color: #6dd5fa;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: #fff;
  color: black;
  border-radius: 12px;
  border: none;
  margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #eee;
}
